<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>108288</string>
		<key>name</key>
		<string>北京</string>
		<key>parent</key>
		<string>china</string>
		<key>uid</key>
		<string>beijing</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>108296</string>
		<key>name</key>
		<string>上海</string>
		<key>parent</key>
		<string>china</string>
		<key>uid</key>
		<string>shanghai</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118281</string>
		<key>name</key>
		<string>广州</string>
		<key>parent</key>
		<string>guangdong</string>
		<key>uid</key>
		<string>guangzhou</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118282</string>
		<key>name</key>
		<string>深圳</string>
		<key>parent</key>
		<string>guangdong</string>
		<key>uid</key>
		<string>shenzhen</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118318</string>
		<key>name</key>
		<string>成都</string>
		<key>parent</key>
		<string>sichuan</string>
		<key>uid</key>
		<string>chengdu</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118254</string>
		<key>name</key>
		<string>武汉</string>
		<key>parent</key>
		<string>hubei</string>
		<key>uid</key>
		<string>wuhan</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118172</string>
		<key>name</key>
		<string>杭州</string>
		<key>parent</key>
		<string>zhejiang</string>
		<key>uid</key>
		<string>hangzhou</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118237</string>
		<key>name</key>
		<string>郑州</string>
		<key>parent</key>
		<string>henan</string>
		<key>uid</key>
		<string>zhengzhou</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>108309</string>
		<key>name</key>
		<string>重庆</string>
		<key>parent</key>
		<string>china</string>
		<key>uid</key>
		<string>chongqing</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118159</string>
		<key>name</key>
		<string>南京</string>
		<key>parent</key>
		<string>jiangsu</string>
		<key>uid</key>
		<string>nanjing</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118371</string>
		<key>name</key>
		<string>西安</string>
		<key>parent</key>
		<string>shaanxi</string>
		<key>uid</key>
		<string>xian</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118163</string>
		<key>name</key>
		<string>苏州</string>
		<key>parent</key>
		<string>jiangsu</string>
		<key>uid</key>
		<string>suzhou</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>108289</string>
		<key>name</key>
		<string>天津</string>
		<key>parent</key>
		<string>china</string>
		<key>uid</key>
		<string>tianjin</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118267</string>
		<key>name</key>
		<string>长沙</string>
		<key>parent</key>
		<string>hunan</string>
		<key>uid</key>
		<string>changsha</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118200</string>
		<key>name</key>
		<string>福州</string>
		<key>parent</key>
		<string>fujian</string>
		<key>uid</key>
		<string>fuzhou</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118123</string>
		<key>name</key>
		<string>沈阳</string>
		<key>parent</key>
		<string>liaoning</string>
		<key>uid</key>
		<string>shenyang</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118220</string>
		<key>name</key>
		<string>济南</string>
		<key>parent</key>
		<string>shandong</string>
		<key>uid</key>
		<string>jinan</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118174</string>
		<key>name</key>
		<string>温州</string>
		<key>parent</key>
		<string>zhejiang</string>
		<key>uid</key>
		<string>wenzhou</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118146</string>
		<key>name</key>
		<string>哈尔滨</string>
		<key>parent</key>
		<string>heilongjiang</string>
		<key>uid</key>
		<string>haerbin</string>
	</dict>
	<dict>
		<key>habitable</key>
		<string>yes</string>
		<key>id</key>
		<string>118183</string>
		<key>name</key>
		<string>合肥</string>
		<key>parent</key>
		<string>anhui</string>
		<key>uid</key>
		<string>hefei</string>
	</dict>
</array>
</plist>
