<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>安康</key>
			<string>118379</string>
		</dict>
		<dict>
			<key>阿拉善盟</key>
			<string>118121</string>
		</dict>
		<dict>
			<key>安顺</key>
			<string>118342</string>
		</dict>
		<dict>
			<key>阿克苏</key>
			<string>118413</string>
		</dict>
		<dict>
			<key>阿拉尔</key>
			<string>131385</string>
		</dict>
		<dict>
			<key>阿鲁科尔沁旗</key>
			<string>128869</string>
		</dict>
		<dict>
			<key>鞍山</key>
			<string>118125</string>
		</dict>
		<dict>
			<key>阿里</key>
			<string>118369</string>
		</dict>
		<dict>
			<key>安阳</key>
			<string>118244</string>
		</dict>
		<dict>
			<key>阿勒泰</key>
			<string>118421</string>
		</dict>
		<dict>
			<key>安庆</key>
			<string>118190</string>
		</dict>
		<dict>
			<key>阿坝</key>
			<string>118336</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>巴中</key>
			<string>118334</string>
		</dict>
		<dict>
			<key>百色</key>
			<string>118311</string>
		</dict>
		<dict>
			<key>滨州</key>
			<string>118235</string>
		</dict>
		<dict>
			<key>北海</key>
			<string>118306</string>
		</dict>
		<dict>
			<key>包头</key>
			<string>118112</string>
		</dict>
		<dict>
			<key>宝鸡</key>
			<string>118373</string>
		</dict>
		<dict>
			<key>保山</key>
			<string>118351</string>
		</dict>
		<dict>
			<key>蚌埠</key>
			<string>118185</string>
		</dict>
		<dict>
			<key>白城</key>
			<string>118144</string>
		</dict>
		<dict>
			<key>亳州</key>
			<string>118197</string>
		</dict>
		<dict>
			<key>白银</key>
			<string>118383</string>
		</dict>
		<dict>
			<key>保亭</key>
			<string>131492</string>
		</dict>
		<dict>
			<key>北京</key>
			<string>108288</string>
		</dict>
		<dict>
			<key>毕节</key>
			<string>118344</string>
		</dict>
		<dict>
			<key>保定</key>
			<string>118093</string>
		</dict>
		<dict>
			<key>巴彦淖尔</key>
			<string>118118</string>
		</dict>
		<dict>
			<key>巴音郭楞</key>
			<string>118416</string>
		</dict>
		<dict>
			<key>博尔塔拉</key>
			<string>118418</string>
		</dict>
		<dict>
			<key>白山</key>
			<string>118142</string>
		</dict>
		<dict>
			<key>本溪</key>
			<string>118127</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>沧州</key>
			<string>118096</string>
		</dict>
		<dict>
			<key>昌都</key>
			<string>118366</string>
		</dict>
		<dict>
			<key>常德</key>
			<string>118273</string>
		</dict>
		<dict>
			<key>崇左</key>
			<string>118315</string>
		</dict>
		<dict>
			<key>常州</key>
			<string>118162</string>
		</dict>
		<dict>
			<key>常熟</key>
			<string>129306</string>
		</dict>
		<dict>
			<key>池州</key>
			<string>118198</string>
		</dict>
		<dict>
			<key>昌吉</key>
			<string>118417</string>
		</dict>
		<dict>
			<key>朝阳</key>
			<string>118135</string>
		</dict>
		<dict>
			<key>赤峰</key>
			<string>118114</string>
		</dict>
		<dict>
			<key>滁州</key>
			<string>118192</string>
		</dict>
		<dict>
			<key>楚雄</key>
			<string>118359</string>
		</dict>
		<dict>
			<key>郴州</key>
			<string>118276</string>
		</dict>
		<dict>
			<key>成都</key>
			<string>118318</string>
		</dict>
		<dict>
			<key>潮州</key>
			<string>118299</string>
		</dict>
		<dict>
			<key>重庆</key>
			<string>108309</string>
		</dict>
		<dict>
			<key>承德</key>
			<string>118095</string>
		</dict>
		<dict>
			<key>长春</key>
			<string>118137</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>丹东</key>
			<string>118128</string>
		</dict>
		<dict>
			<key>大同</key>
			<string>118100</string>
		</dict>
		<dict>
			<key>大宁</key>
			<string>118101</string>
		</dict>
		<dict>
			<key>德州</key>
			<string>118233</string>
		</dict>
		<dict>
			<key>迪庆</key>
			<string>118363</string>
		</dict>
		<dict>
			<key>儋州</key>
			<string>131433</string>
		</dict>
		<dict>
			<key>大庆</key>
			<string>118151</string>
		</dict>
		<dict>
			<key>定西</key>
			<string>118391</string>
		</dict>
		<dict>
			<key>达州</key>
			<string>118331</string>
		</dict>
		<dict>
			<key>大连</key>
			<string>118124</string>
		</dict>
		<dict>
			<key>大兴安岭</key>
			<string>118158</string>
		</dict>
		<dict>
			<key>德阳</key>
			<string>118322</string>
		</dict>
		<dict>
			<key>东莞</key>
			<string>118297</string>
		</dict>
		<dict>
			<key>德宏</key>
			<string>118361</string>
		</dict>
		<dict>
			<key>东营</key>
			<string>118224</string>
		</dict>
		<dict>
			<key>敦煌</key>
			<string>131183</string>
		</dict>
		<dict>
			<key>大理</key>
			<string>118360</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>抚顺</key>
			<string>118126</string>
		</dict>
		<dict>
			<key>阜阳</key>
			<string>118193</string>
		</dict>
		<dict>
			<key>抚州</key>
			<string>118218</string>
		</dict>
		<dict>
			<key>福州</key>
			<string>118200</string>
		</dict>
		<dict>
			<key>防城港</key>
			<string>118307</string>
		</dict>
		<dict>
			<key>阜新</key>
			<string>118131</string>
		</dict>
		<dict>
			<key>佛山</key>
			<string>118286</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>贵阳</key>
			<string>118339</string>
		</dict>
		<dict>
			<key>广安</key>
			<string>118330</string>
		</dict>
		<dict>
			<key>广元</key>
			<string>118324</string>
		</dict>
		<dict>
			<key>甘南</key>
			<string>118394</string>
		</dict>
		<dict>
			<key>高雄</key>
			<string>119089</string>
		</dict>
		<dict>
			<key>赣州</key>
			<string>118215</string>
		</dict>
		<dict>
			<key>甘孜</key>
			<string>118337</string>
		</dict>
		<dict>
			<key>桂林</key>
			<string>118304</string>
		</dict>
		<dict>
			<key>果洛</key>
			<string>118400</string>
		</dict>
		<dict>
			<key>贵港</key>
			<string>118309</string>
		</dict>
		<dict>
			<key>广州</key>
			<string>118281</string>
		</dict>
		<dict>
			<key>固原</key>
			<string>118406</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>衡阳</key>
			<string>118270</string>
		</dict>
		<dict>
			<key>哈尔滨</key>
			<string>118146</string>
		</dict>
		<dict>
			<key>哈密</key>
			<string>118411</string>
		</dict>
		<dict>
			<key>淮北</key>
			<string>118188</string>
		</dict>
		<dict>
			<key>怀化</key>
			<string>118278</string>
		</dict>
		<dict>
			<key>海西</key>
			<string>118402</string>
		</dict>
		<dict>
			<key>呼伦贝尔</key>
			<string>118117</string>
		</dict>
		<dict>
			<key>惠州</key>
			<string>118291</string>
		</dict>
		<dict>
			<key>黑河</key>
			<string>118156</string>
		</dict>
		<dict>
			<key>淮安</key>
			<string>118166</string>
		</dict>
		<dict>
			<key>海南</key>
			<string>118399</string>
		</dict>
		<dict>
			<key>杭州</key>
			<string>118172</string>
		</dict>
		<dict>
			<key>黄南</key>
			<string>118398</string>
		</dict>
		<dict>
			<key>河源</key>
			<string>118294</string>
		</dict>
		<dict>
			<key>海口</key>
			<string>118316</string>
		</dict>
		<dict>
			<key>和田</key>
			<string>118412</string>
		</dict>
		<dict>
			<key>鹤岗</key>
			<string>118149</string>
		</dict>
		<dict>
			<key>黄石</key>
			<string>118255</string>
		</dict>
		<dict>
			<key>淮南</key>
			<string>118186</string>
		</dict>
		<dict>
			<key>花莲县</key>
			<string>128478</string>
		</dict>
		<dict>
			<key>黄冈</key>
			<string>118263</string>
		</dict>
		<dict>
			<key>海东</key>
			<string>118396</string>
		</dict>
		<dict>
			<key>湖州</key>
			<string>118176</string>
		</dict>
		<dict>
			<key>海北</key>
			<string>118397</string>
		</dict>
		<dict>
			<key>黄山</key>
			<string>118191</string>
		</dict>
		<dict>
			<key>汉中</key>
			<string>118377</string>
		</dict>
		<dict>
			<key>鹤壁</key>
			<string>118242</string>
		</dict>
		<dict>
			<key>菏泽</key>
			<string>118236</string>
		</dict>
		<dict>
			<key>合肥</key>
			<string>118183</string>
		</dict>
		<dict>
			<key>衡水</key>
			<string>118098</string>
		</dict>
		<dict>
			<key>河池</key>
			<string>118313</string>
		</dict>
		<dict>
			<key>红河</key>
			<string>118357</string>
		</dict>
		<dict>
			<key>葫芦岛</key>
			<string>118136</string>
		</dict>
		<dict>
			<key>邯郸</key>
			<string>118091</string>
		</dict>
		<dict>
			<key>呼和浩特</key>
			<string>118111</string>
		</dict>
		<dict>
			<key>贺州</key>
			<string>118312</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>基隆</key>
			<string>119090</string>
		</dict>
		<dict>
			<key>吉林</key>
			<string>129059</string>
		</dict>
		<dict>
			<key>江门</key>
			<string>118287</string>
		</dict>
		<dict>
			<key>荆州</key>
			<string>118258</string>
		</dict>
		<dict>
			<key>景德镇</key>
			<string>118210</string>
		</dict>
		<dict>
			<key>鸡西</key>
			<string>118148</string>
		</dict>
		<dict>
			<key>济宁</key>
			<string>118228</string>
		</dict>
		<dict>
			<key>晋城</key>
			<string>118104</string>
		</dict>
		<dict>
			<key>金华</key>
			<string>118178</string>
		</dict>
		<dict>
			<key>金昌</key>
			<string>118382</string>
		</dict>
		<dict>
			<key>酒泉</key>
			<string>118389</string>
		</dict>
		<dict>
			<key>嘉義</key>
			<string>119094</string>
		</dict>
		<dict>
			<key>焦作</key>
			<string>118241</string>
		</dict>
		<dict>
			<key>吉安</key>
			<string>118216</string>
		</dict>
		<dict>
			<key>江阴</key>
			<string>129280</string>
		</dict>
		<dict>
			<key>嘉峪关</key>
			<string>118385</string>
		</dict>
		<dict>
			<key>济南</key>
			<string>118220</string>
		</dict>
		<dict>
			<key>荆门</key>
			<string>118260</string>
		</dict>
		<dict>
			<key>嘉兴</key>
			<string>118175</string>
		</dict>
		<dict>
			<key>九江</key>
			<string>118212</string>
		</dict>
		<dict>
			<key>晋中</key>
			<string>118106</string>
		</dict>
		<dict>
			<key>揭阳</key>
			<string>118300</string>
		</dict>
		<dict>
			<key>锦州</key>
			<string>118129</string>
		</dict>
		<dict>
			<key>佳木斯</key>
			<string>118154</string>
		</dict>
		<dict>
			<key>济源</key>
			<string>128517</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>昆山</key>
			<string>131410</string>
		</dict>
		<dict>
			<key>喀什</key>
			<string>118414</string>
		</dict>
		<dict>
			<key>克孜勒苏</key>
			<string>118415</string>
		</dict>
		<dict>
			<key>克拉玛依</key>
			<string>118409</string>
		</dict>
		<dict>
			<key>昆明</key>
			<string>118348</string>
		</dict>
		<dict>
			<key>开封</key>
			<string>118238</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>乐山</key>
			<string>118327</string>
		</dict>
		<dict>
			<key>兰州</key>
			<string>118381</string>
		</dict>
		<dict>
			<key>陇南</key>
			<string>118392</string>
		</dict>
		<dict>
			<key>柳州</key>
			<string>118303</string>
		</dict>
		<dict>
			<key>临夏</key>
			<string>118393</string>
		</dict>
		<dict>
			<key>六安</key>
			<string>118196</string>
		</dict>
		<dict>
			<key>辽源</key>
			<string>118140</string>
		</dict>
		<dict>
			<key>丽水</key>
			<string>118182</string>
		</dict>
		<dict>
			<key>廊坊</key>
			<string>118097</string>
		</dict>
		<dict>
			<key>林芝</key>
			<string>118370</string>
		</dict>
		<dict>
			<key>吕梁</key>
			<string>118110</string>
		</dict>
		<dict>
			<key>连云港</key>
			<string>118165</string>
		</dict>
		<dict>
			<key>凉山</key>
			<string>118338</string>
		</dict>
		<dict>
			<key>洛阳</key>
			<string>118239</string>
		</dict>
		<dict>
			<key>莱芜</key>
			<string>118231</string>
		</dict>
		<dict>
			<key>临汾</key>
			<string>118109</string>
		</dict>
		<dict>
			<key>娄底</key>
			<string>118279</string>
		</dict>
		<dict>
			<key>临沂</key>
			<string>118232</string>
		</dict>
		<dict>
			<key>拉萨</key>
			<string>118364</string>
		</dict>
		<dict>
			<key>丽江</key>
			<string>118353</string>
		</dict>
		<dict>
			<key>来宾</key>
			<string>118314</string>
		</dict>
		<dict>
			<key>辽阳</key>
			<string>118132</string>
		</dict>
		<dict>
			<key>漯河</key>
			<string>118247</string>
		</dict>
		<dict>
			<key>六盘水</key>
			<string>118340</string>
		</dict>
		<dict>
			<key>临沧</key>
			<string>118355</string>
		</dict>
		<dict>
			<key>聊城</key>
			<string>118234</string>
		</dict>
		<dict>
			<key>龙岩</key>
			<string>118207</string>
		</dict>
		<dict>
			<key>泸州</key>
			<string>118321</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>绵阳</key>
			<string>118323</string>
		</dict>
		<dict>
			<key>梅州</key>
			<string>118292</string>
		</dict>
		<dict>
			<key>茂名</key>
			<string>118289</string>
		</dict>
		<dict>
			<key>马鞍山</key>
			<string>118187</string>
		</dict>
		<dict>
			<key>牡丹江</key>
			<string>118153</string>
		</dict>
		<dict>
			<key>眉山</key>
			<string>118332</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>南宁</key>
			<string>118302</string>
		</dict>
		<dict>
			<key>怒江</key>
			<string>118362</string>
		</dict>
		<dict>
			<key>南阳</key>
			<string>118249</string>
		</dict>
		<dict>
			<key>那曲</key>
			<string>118365</string>
		</dict>
		<dict>
			<key>内江</key>
			<string>118326</string>
		</dict>
		<dict>
			<key>南充</key>
			<string>118328</string>
		</dict>
		<dict>
			<key>南昌</key>
			<string>118209</string>
		</dict>
		<dict>
			<key>宁波</key>
			<string>118173</string>
		</dict>
		<dict>
			<key>南通</key>
			<string>118164</string>
		</dict>
		<dict>
			<key>宁德</key>
			<string>118208</string>
		</dict>
		<dict>
			<key>南京</key>
			<string>118159</string>
		</dict>
		<dict>
			<key>南平</key>
			<string>118206</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>普洱</key>
			<string>130880</string>
		</dict>
		<dict>
			<key>盘锦</key>
			<string>118133</string>
		</dict>
		<dict>
			<key>攀枝花</key>
			<string>118320</string>
		</dict>
		<dict>
			<key>平顶山</key>
			<string>118240</string>
		</dict>
		<dict>
			<key>莆田</key>
			<string>118202</string>
		</dict>
		<dict>
			<key>濮阳</key>
			<string>118245</string>
		</dict>
		<dict>
			<key>屏東</key>
			<string>128475</string>
		</dict>
		<dict>
			<key>萍乡</key>
			<string>118211</string>
		</dict>
		<dict>
			<key>平凉</key>
			<string>118388</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>秦皇岛</key>
			<string>118090</string>
		</dict>
		<dict>
			<key>清远</key>
			<string>118296</string>
		</dict>
		<dict>
			<key>黔东南</key>
			<string>118346</string>
		</dict>
		<dict>
			<key>钦州</key>
			<string>118308</string>
		</dict>
		<dict>
			<key>泉州</key>
			<string>118204</string>
		</dict>
		<dict>
			<key>曲靖</key>
			<string>118349</string>
		</dict>
		<dict>
			<key>琼海</key>
			<string>131407</string>
		</dict>
		<dict>
			<key>庆阳</key>
			<string>118390</string>
		</dict>
		<dict>
			<key>黔西南</key>
			<string>118345</string>
		</dict>
		<dict>
			<key>青岛</key>
			<string>118221</string>
		</dict>
		<dict>
			<key>潜江</key>
			<string>128466</string>
		</dict>
		<dict>
			<key>衢州</key>
			<string>118179</string>
		</dict>
		<dict>
			<key>黔南</key>
			<string>118347</string>
		</dict>
		<dict>
			<key>齐齐哈尔</key>
			<string>118147</string>
		</dict>
		<dict>
			<key>七台河</key>
			<string>118155</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>如皋</key>
			<string>129316</string>
		</dict>
		<dict>
			<key>日照</key>
			<string>118230</string>
		</dict>
		<dict>
			<key>日喀则</key>
			<string>118368</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>随州</key>
			<string>118265</string>
		</dict>
		<dict>
			<key>松原</key>
			<string>118143</string>
		</dict>
		<dict>
			<key>沈阳</key>
			<string>118123</string>
		</dict>
		<dict>
			<key>绍兴</key>
			<string>118177</string>
		</dict>
		<dict>
			<key>三沙</key>
			<string>131533</string>
		</dict>
		<dict>
			<key>上饶</key>
			<string>118219</string>
		</dict>
		<dict>
			<key>宿州</key>
			<string>118194</string>
		</dict>
		<dict>
			<key>三亚</key>
			<string>118317</string>
		</dict>
		<dict>
			<key>绥化</key>
			<string>118157</string>
		</dict>
		<dict>
			<key>厦门</key>
			<string>118201</string>
		</dict>
		<dict>
			<key>山南</key>
			<string>118367</string>
		</dict>
		<dict>
			<key>三门峡</key>
			<string>118248</string>
		</dict>
		<dict>
			<key>宿迁</key>
			<string>118171</string>
		</dict>
		<dict>
			<key>遂宁</key>
			<string>118325</string>
		</dict>
		<dict>
			<key>十堰</key>
			<string>118257</string>
		</dict>
		<dict>
			<key>神农架林区</key>
			<string>130143</string>
		</dict>
		<dict>
			<key>深圳</key>
			<string>118282</string>
		</dict>
		<dict>
			<key>汕头</key>
			<string>118284</string>
		</dict>
		<dict>
			<key>石嘴山</key>
			<string>118404</string>
		</dict>
		<dict>
			<key>邵阳</key>
			<string>118271</string>
		</dict>
		<dict>
			<key>汕尾</key>
			<string>118293</string>
		</dict>
		<dict>
			<key>苏州</key>
			<string>118163</string>
		</dict>
		<dict>
			<key>商洛</key>
			<string>118380</string>
		</dict>
		<dict>
			<key>石家庄</key>
			<string>118088</string>
		</dict>
		<dict>
			<key>四平</key>
			<string>118139</string>
		</dict>
		<dict>
			<key>双鸭山</key>
			<string>118150</string>
		</dict>
		<dict>
			<key>石河子</key>
			<string>128496</string>
		</dict>
		<dict>
			<key>商丘</key>
			<string>118250</string>
		</dict>
		<dict>
			<key>三明</key>
			<string>118203</string>
		</dict>
		<dict>
			<key>韶关</key>
			<string>118285</string>
		</dict>
		<dict>
			<key>上海</key>
			<string>108296</string>
		</dict>
		<dict>
			<key>朔州</key>
			<string>118105</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>台南</key>
			<string>119092</string>
		</dict>
		<dict>
			<key>图木舒克</key>
			<string>131386</string>
		</dict>
		<dict>
			<key>塔城</key>
			<string>118420</string>
		</dict>
		<dict>
			<key>天津</key>
			<string>108289</string>
		</dict>
		<dict>
			<key>桃园县</key>
			<string>128476</string>
		</dict>
		<dict>
			<key>铜川</key>
			<string>118372</string>
		</dict>
		<dict>
			<key>天水</key>
			<string>118384</string>
		</dict>
		<dict>
			<key>吐鲁番</key>
			<string>118410</string>
		</dict>
		<dict>
			<key>太原</key>
			<string>118099</string>
		</dict>
		<dict>
			<key>台州</key>
			<string>118181</string>
		</dict>
		<dict>
			<key>台东</key>
			<string>131552</string>
		</dict>
		<dict>
			<key>台北</key>
			<string>119088</string>
		</dict>
		<dict>
			<key>铜仁</key>
			<string>118343</string>
		</dict>
		<dict>
			<key>台中</key>
			<string>119091</string>
		</dict>
		<dict>
			<key>太仓</key>
			<string>129310</string>
		</dict>
		<dict>
			<key>泰州</key>
			<string>118170</string>
		</dict>
		<dict>
			<key>铁岭</key>
			<string>118134</string>
		</dict>
		<dict>
			<key>天门</key>
			<string>128464</string>
		</dict>
		<dict>
			<key>通化</key>
			<string>118141</string>
		</dict>
		<dict>
			<key>泰安</key>
			<string>118229</string>
		</dict>
		<dict>
			<key>通辽</key>
			<string>118115</string>
		</dict>
		<dict>
			<key>铜陵</key>
			<string>118189</string>
		</dict>
		<dict>
			<key>唐山</key>
			<string>118089</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>温州</key>
			<string>118174</string>
		</dict>
		<dict>
			<key>文昌</key>
			<string>131497</string>
		</dict>
		<dict>
			<key>乌兰察布</key>
			<string>118119</string>
		</dict>
		<dict>
			<key>芜湖</key>
			<string>118184</string>
		</dict>
		<dict>
			<key>潍坊</key>
			<string>118225</string>
		</dict>
		<dict>
			<key>乌海</key>
			<string>118113</string>
		</dict>
		<dict>
			<key>武威</key>
			<string>118386</string>
		</dict>
		<dict>
			<key>武汉</key>
			<string>118254</string>
		</dict>
		<dict>
			<key>乌鲁木齐</key>
			<string>118408</string>
		</dict>
		<dict>
			<key>文山</key>
			<string>118356</string>
		</dict>
		<dict>
			<key>威海</key>
			<string>118227</string>
		</dict>
		<dict>
			<key>梧州</key>
			<string>118305</string>
		</dict>
		<dict>
			<key>五家渠</key>
			<string>131521</string>
		</dict>
		<dict>
			<key>无锡</key>
			<string>118160</string>
		</dict>
		<dict>
			<key>渭南</key>
			<string>118375</string>
		</dict>
		<dict>
			<key>吴忠</key>
			<string>118405</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>新竹</key>
			<string>119093</string>
		</dict>
		<dict>
			<key>襄阳</key>
			<string>118256</string>
		</dict>
		<dict>
			<key>孝感</key>
			<string>118262</string>
		</dict>
		<dict>
			<key>湘西</key>
			<string>118280</string>
		</dict>
		<dict>
			<key>锡林郭勒</key>
			<string>118120</string>
		</dict>
		<dict>
			<key>西宁</key>
			<string>118395</string>
		</dict>
		<dict>
			<key>湘潭</key>
			<string>118269</string>
		</dict>
		<dict>
			<key>西安</key>
			<string>118371</string>
		</dict>
		<dict>
			<key>许昌</key>
			<string>118246</string>
		</dict>
		<dict>
			<key>香港</key>
			<string>108090</string>
		</dict>
		<dict>
			<key>新余</key>
			<string>118213</string>
		</dict>
		<dict>
			<key>新乡</key>
			<string>118243</string>
		</dict>
		<dict>
			<key>邢台</key>
			<string>118092</string>
		</dict>
		<dict>
			<key>忻州</key>
			<string>118108</string>
		</dict>
		<dict>
			<key>信阳</key>
			<string>118251</string>
		</dict>
		<dict>
			<key>徐州</key>
			<string>118161</string>
		</dict>
		<dict>
			<key>咸宁</key>
			<string>118264</string>
		</dict>
		<dict>
			<key>兴安盟</key>
			<string>118122</string>
		</dict>
		<dict>
			<key>西双版纳</key>
			<string>118358</string>
		</dict>
		<dict>
			<key>宣城</key>
			<string>118199</string>
		</dict>
		<dict>
			<key>咸阳</key>
			<string>118374</string>
		</dict>
		<dict>
			<key>仙桃</key>
			<string>128465</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>阳江</key>
			<string>118295</string>
		</dict>
		<dict>
			<key>银川</key>
			<string>118403</string>
		</dict>
		<dict>
			<key>鹰潭</key>
			<string>118214</string>
		</dict>
		<dict>
			<key>烟台</key>
			<string>118226</string>
		</dict>
		<dict>
			<key>雅安</key>
			<string>118333</string>
		</dict>
		<dict>
			<key>玉溪</key>
			<string>118350</string>
		</dict>
		<dict>
			<key>云林县</key>
			<string>128477</string>
		</dict>
		<dict>
			<key>延边</key>
			<string>118145</string>
		</dict>
		<dict>
			<key>岳阳</key>
			<string>118272</string>
		</dict>
		<dict>
			<key>伊春</key>
			<string>118152</string>
		</dict>
		<dict>
			<key>盐城</key>
			<string>118167</string>
		</dict>
		<dict>
			<key>延安</key>
			<string>118376</string>
		</dict>
		<dict>
			<key>榆林</key>
			<string>118378</string>
		</dict>
		<dict>
			<key>伊犁</key>
			<string>118419</string>
		</dict>
		<dict>
			<key>扬州</key>
			<string>118168</string>
		</dict>
		<dict>
			<key>宜昌</key>
			<string>118259</string>
		</dict>
		<dict>
			<key>宜宾</key>
			<string>118329</string>
		</dict>
		<dict>
			<key>宜兰县</key>
			<string>128480</string>
		</dict>
		<dict>
			<key>宜春</key>
			<string>118217</string>
		</dict>
		<dict>
			<key>宜兴</key>
			<string>131562</string>
		</dict>
		<dict>
			<key>运城</key>
			<string>118107</string>
		</dict>
		<dict>
			<key>云浮</key>
			<string>118301</string>
		</dict>
		<dict>
			<key>益阳</key>
			<string>118275</string>
		</dict>
		<dict>
			<key>玉树</key>
			<string>118401</string>
		</dict>
		<dict>
			<key>阳泉</key>
			<string>118102</string>
		</dict>
		<dict>
			<key>玉林</key>
			<string>118310</string>
		</dict>
		<dict>
			<key>永州</key>
			<string>118277</string>
		</dict>
		<dict>
			<key>营口</key>
			<string>118130</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>长沙</key>
			<string>118267</string>
		</dict>
		<dict>
			<key>珠海</key>
			<string>118283</string>
		</dict>
		<dict>
			<key>淄博</key>
			<string>118222</string>
		</dict>
		<dict>
			<key>彰化县</key>
			<string>128481</string>
		</dict>
		<dict>
			<key>株洲</key>
			<string>118268</string>
		</dict>
		<dict>
			<key>自贡</key>
			<string>118319</string>
		</dict>
		<dict>
			<key>长治</key>
			<string>118103</string>
		</dict>
		<dict>
			<key>湛江</key>
			<string>118288</string>
		</dict>
		<dict>
			<key>张掖</key>
			<string>118387</string>
		</dict>
		<dict>
			<key>中卫</key>
			<string>118407</string>
		</dict>
		<dict>
			<key>张家界</key>
			<string>118274</string>
		</dict>
		<dict>
			<key>张家口</key>
			<string>118094</string>
		</dict>
		<dict>
			<key>舟山</key>
			<string>118180</string>
		</dict>
		<dict>
			<key>郑州</key>
			<string>118237</string>
		</dict>
		<dict>
			<key>张家港</key>
			<string>129307</string>
		</dict>
		<dict>
			<key>昭通</key>
			<string>118352</string>
		</dict>
		<dict>
			<key>遵义</key>
			<string>118341</string>
		</dict>
		<dict>
			<key>镇江</key>
			<string>118169</string>
		</dict>
		<dict>
			<key>周口</key>
			<string>118252</string>
		</dict>
		<dict>
			<key>枣庄</key>
			<string>118223</string>
		</dict>
		<dict>
			<key>资阳</key>
			<string>118335</string>
		</dict>
		<dict>
			<key>中山</key>
			<string>118298</string>
		</dict>
		<dict>
			<key>漳州</key>
			<string>118205</string>
		</dict>
		<dict>
			<key>肇庆</key>
			<string>118290</string>
		</dict>
		<dict>
			<key>驻马店</key>
			<string>118253</string>
		</dict>
	</array>
</dict>
</plist>
