<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#</key>
	<array>
		<dict>
			<key>Ōsaka</key>
			<string>128261</string>
		</dict>
		<dict>
			<key>İzmir</key>
			<string>128384</string>
		</dict>
		<dict>
			<key>Čel&apos;abinsk</key>
			<string>128341</string>
		</dict>
		<dict>
			<key>Ávila</key>
			<string>128501</string>
		</dict>
		<dict>
			<key>Łódź</key>
			<string>128329</string>
		</dict>
		<dict>
			<key>İstanbul</key>
			<string>128382</string>
		</dict>
		<dict>
			<key>Āgra</key>
			<string>128215</string>
		</dict>
	</array>
	<key>A</key>
	<array>
		<dict>
			<key>Al-Mawsil</key>
			<string>128252</string>
		</dict>
		<dict>
			<key>Al-Madīnah</key>
			<string>128353</string>
		</dict>
		<dict>
			<key>Antananarivo (Tananarive)</key>
			<string>128280</string>
		</dict>
		<dict>
			<key>Abidjan</key>
			<string>128154</string>
		</dict>
		<dict>
			<key>Asunción</key>
			<string>128322</string>
		</dict>
		<dict>
			<key>Athínai</key>
			<string>128191</string>
		</dict>
		<dict>
			<key>Ad-Dammām</key>
			<string>128351</string>
		</dict>
		<dict>
			<key>Antwerpen (Anvers)</key>
			<string>128108</string>
		</dict>
		<dict>
			<key>Aix-en-Provence</key>
			<string>128511</string>
		</dict>
		<dict>
			<key>Ankara</key>
			<string>128383</string>
		</dict>
		<dict>
			<key>Adana</key>
			<string>128386</string>
		</dict>
		<dict>
			<key>Antigua</key>
			<string>108096</string>
		</dict>
		<dict>
			<key>Amsterdam</key>
			<string>128300</string>
		</dict>
		<dict>
			<key>Al-Iskandarīyah</key>
			<string>128162</string>
		</dict>
		<dict>
			<key>Ann Arbor</key>
			<string>131498</string>
		</dict>
		<dict>
			<key>Adelaide</key>
			<string>128100</string>
		</dict>
		<dict>
			<key>Al-Basrah</key>
			<string>128253</string>
		</dict>
		<dict>
			<key>Ahmadābād</key>
			<string>128202</string>
		</dict>
		<dict>
			<key>Ar-Riyād</key>
			<string>128349</string>
		</dict>
		<dict>
			<key>Albany</key>
			<string>128448</string>
		</dict>
		<dict>
			<key>Allahābād</key>
			<string>128228</string>
		</dict>
		<dict>
			<key>Al-Kuwayt</key>
			<string>128277</string>
		</dict>
		<dict>
			<key>Albuquerque</key>
			<string>128495</string>
		</dict>
		<dict>
			<key>Atlanta</key>
			<string>128407</string>
		</dict>
		<dict>
			<key>Accra</key>
			<string>128182</string>
		</dict>
		<dict>
			<key>Albania</key>
			<string>108093</string>
		</dict>
		<dict>
			<key>Al-Khartūm</key>
			<string>128374</string>
		</dict>
		<dict>
			<key>Austin</key>
			<string>128432</string>
		</dict>
		<dict>
			<key>Almaty</key>
			<string>128275</string>
		</dict>
		<dict>
			<key>Al-Qāhirah</key>
			<string>128161</string>
		</dict>
		<dict>
			<key>Amritsar</key>
			<string>128227</string>
		</dict>
		<dict>
			<key>Asansol</key>
			<string>128221</string>
		</dict>
		<dict>
			<key>Auckland</key>
			<string>128302</string>
		</dict>
		<dict>
			<key>Alger</key>
			<string>131524</string>
		</dict>
		<dict>
			<key>Ammān</key>
			<string>128274</string>
		</dict>
		<dict>
			<key>Adis Abeba</key>
			<string>128164</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>Bhopāl</key>
			<string>128212</string>
		</dict>
		<dict>
			<key>Bonn</key>
			<string>131559</string>
		</dict>
		<dict>
			<key>Bristol</key>
			<string>128484</string>
		</dict>
		<dict>
			<key>Burundi</key>
			<string>108117</string>
		</dict>
		<dict>
			<key>Bahrain</key>
			<string>108103</string>
		</dict>
		<dict>
			<key>Benin</key>
			<string>108109</string>
		</dict>
		<dict>
			<key>Bahamas</key>
			<string>108102</string>
		</dict>
		<dict>
			<key>Bielefeld</key>
			<string>128500</string>
		</dict>
		<dict>
			<key>Berlin</key>
			<string>128172</string>
		</dict>
		<dict>
			<key>Bayrūt</key>
			<string>128278</string>
		</dict>
		<dict>
			<key>Brazzaville</key>
			<string>128152</string>
		</dict>
		<dict>
			<key>Bhutan</key>
			<string>108110</string>
		</dict>
		<dict>
			<key>Brisbane</key>
			<string>128098</string>
		</dict>
		<dict>
			<key>Buenos Aires</key>
			<string>128092</string>
		</dict>
		<dict>
			<key>Busan (Pusan)</key>
			<string>128364</string>
		</dict>
		<dict>
			<key>Bursa</key>
			<string>128385</string>
		</dict>
		<dict>
			<key>Benin City</key>
			<string>128308</string>
		</dict>
		<dict>
			<key>Baltimore</key>
			<string>131444</string>
		</dict>
		<dict>
			<key>Belém</key>
			<string>128121</string>
		</dict>
		<dict>
			<key>Bata</key>
			<string>131535</string>
		</dict>
		<dict>
			<key>Besancon</key>
			<string>131522</string>
		</dict>
		<dict>
			<key>Brunei</key>
			<string>108114</string>
		</dict>
		<dict>
			<key>Bucaramanga</key>
			<string>128147</string>
		</dict>
		<dict>
			<key>Bakı</key>
			<string>128102</string>
		</dict>
		<dict>
			<key>Belize</key>
			<string>108108</string>
		</dict>
		<dict>
			<key>Bath</key>
			<string>131501</string>
		</dict>
		<dict>
			<key>Boston</key>
			<string>128404</string>
		</dict>
		<dict>
			<key>Basel</key>
			<string>131451</string>
		</dict>
		<dict>
			<key>Bhilai (Bhilai Nagar)</key>
			<string>128232</string>
		</dict>
		<dict>
			<key>Barcelona</key>
			<string>128370</string>
		</dict>
		<dict>
			<key>Barranquilla</key>
			<string>128146</string>
		</dict>
		<dict>
			<key>Birmingham</key>
			<string>128444</string>
		</dict>
		<dict>
			<key>Bamako</key>
			<string>128283</string>
		</dict>
		<dict>
			<key>Bruxelles (Brussel)</key>
			<string>128107</string>
		</dict>
		<dict>
			<key>Bremen</key>
			<string>128494</string>
		</dict>
		<dict>
			<key>Beograd</key>
			<string>128355</string>
		</dict>
		<dict>
			<key>Baghdād</key>
			<string>128251</string>
		</dict>
		<dict>
			<key>Bandung</key>
			<string>128239</string>
		</dict>
		<dict>
			<key>Bologna</key>
			<string>131402</string>
		</dict>
		<dict>
			<key>Belo Horizonte</key>
			<string>128113</string>
		</dict>
		<dict>
			<key>Budapest</key>
			<string>128195</string>
		</dict>
		<dict>
			<key>Barquisimeto</key>
			<string>128455</string>
		</dict>
		<dict>
			<key>Brasília</key>
			<string>128116</string>
		</dict>
		<dict>
			<key>Bogotá (Santa Fe de)</key>
			<string>128143</string>
		</dict>
		<dict>
			<key>Bergen</key>
			<string>131517</string>
		</dict>
		<dict>
			<key>Belfast</key>
			<string>131423</string>
		</dict>
		<dict>
			<key>Barbados</key>
			<string>108105</string>
		</dict>
		<dict>
			<key>Buffalo</key>
			<string>128429</string>
		</dict>
		<dict>
			<key>Bangalore</key>
			<string>128200</string>
		</dict>
		<dict>
			<key>Bucureşti</key>
			<string>128333</string>
		</dict>
		<dict>
			<key>Botswana</key>
			<string>108112</string>
		</dict>
		<dict>
			<key>Bordeaux</key>
			<string>131481</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>Casablanca (Dar-el-Beida)</key>
			<string>128294</string>
		</dict>
		<dict>
			<key>Clermont-Ferrand</key>
			<string>131490</string>
		</dict>
		<dict>
			<key>Coventry</key>
			<string>131419</string>
		</dict>
		<dict>
			<key>Cork</key>
			<string>131473</string>
		</dict>
		<dict>
			<key>Ciudad de México</key>
			<string>128284</string>
		</dict>
		<dict>
			<key>Colombo</key>
			<string>128373</string>
		</dict>
		<dict>
			<key>Cape Verde</key>
			<string>108121</string>
		</dict>
		<dict>
			<key>Córdoba</key>
			<string>128093</string>
		</dict>
		<dict>
			<key>Ciudad de Panamá</key>
			<string>128321</string>
		</dict>
		<dict>
			<key>Cleveland</key>
			<string>128412</string>
		</dict>
		<dict>
			<key>Canberra</key>
			<string>128488</string>
		</dict>
		<dict>
			<key>Coimbatore</key>
			<string>128213</string>
		</dict>
		<dict>
			<key>Cebu</key>
			<string>128325</string>
		</dict>
		<dict>
			<key>Comoros</key>
			<string>108126</string>
		</dict>
		<dict>
			<key>Chiang Rai</key>
			<string>131510</string>
		</dict>
		<dict>
			<key>Columbus</key>
			<string>128424</string>
		</dict>
		<dict>
			<key>Chittagong</key>
			<string>128104</string>
		</dict>
		<dict>
			<key>Cincinnati</key>
			<string>128417</string>
		</dict>
		<dict>
			<key>Cali</key>
			<string>128145</string>
		</dict>
		<dict>
			<key>Chandīgarh</key>
			<string>128230</string>
		</dict>
		<dict>
			<key>Cape Town (Kaapstad)</key>
			<string>128360</string>
		</dict>
		<dict>
			<key>Christchurch</key>
			<string>131435</string>
		</dict>
		<dict>
			<key>Calgary</key>
			<string>128140</string>
		</dict>
		<dict>
			<key>Conakry</key>
			<string>128193</string>
		</dict>
		<dict>
			<key>Ciudad de Guatemala</key>
			<string>128192</string>
		</dict>
		<dict>
			<key>Chiang Mai</key>
			<string>131509</string>
		</dict>
		<dict>
			<key>Cardiff</key>
			<string>131454</string>
		</dict>
		<dict>
			<key>Cambridge</key>
			<string>128482</string>
		</dict>
		<dict>
			<key>Charlottesville</key>
			<string>131502</string>
		</dict>
		<dict>
			<key>Ciudad Juárez</key>
			<string>128289</string>
		</dict>
		<dict>
			<key>Chiba</key>
			<string>131488</string>
		</dict>
		<dict>
			<key>Chicago</key>
			<string>128398</string>
		</dict>
		<dict>
			<key>Chad</key>
			<string>108123</string>
		</dict>
		<dict>
			<key>Chennai</key>
			<string>128199</string>
		</dict>
		<dict>
			<key>Charlotte</key>
			<string>128431</string>
		</dict>
		<dict>
			<key>Curitiba</key>
			<string>128119</string>
		</dict>
		<dict>
			<key>Cartagena</key>
			<string>128148</string>
		</dict>
		<dict>
			<key>Campinas</key>
			<string>128120</string>
		</dict>
		<dict>
			<key>Chemnitz</key>
			<string>131508</string>
		</dict>
		<dict>
			<key>Caracas</key>
			<string>128451</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>Dallas</key>
			<string>128402</string>
		</dict>
		<dict>
			<key>Dimashq</key>
			<string>128377</string>
		</dict>
		<dict>
			<key>Dar es Salaam</key>
			<string>128379</string>
		</dict>
		<dict>
			<key>DenHaag</key>
			<string>131507</string>
		</dict>
		<dict>
			<key>Dnipropetrovs&apos;k</key>
			<string>128392</string>
		</dict>
		<dict>
			<key>Dhaka</key>
			<string>128103</string>
		</dict>
		<dict>
			<key>Dortmund</key>
			<string>131564</string>
		</dict>
		<dict>
			<key>Durham</key>
			<string>131565</string>
		</dict>
		<dict>
			<key>Dubayy</key>
			<string>128394</string>
		</dict>
		<dict>
			<key>Dijon</key>
			<string>128513</string>
		</dict>
		<dict>
			<key>Dessau</key>
			<string>131431</string>
		</dict>
		<dict>
			<key>Daejeon (Taejŏn)</key>
			<string>128366</string>
		</dict>
		<dict>
			<key>Dresden</key>
			<string>131403</string>
		</dict>
		<dict>
			<key>Delhi</key>
			<string>128197</string>
		</dict>
		<dict>
			<key>Douala</key>
			<string>128134</string>
		</dict>
		<dict>
			<key>Djibouti</key>
			<string>108134</string>
		</dict>
		<dict>
			<key>Dublin (Baile Átha Cliath)</key>
			<string>128254</string>
		</dict>
		<dict>
			<key>Dhanbād</key>
			<string>128225</string>
		</dict>
		<dict>
			<key>Davao</key>
			<string>128326</string>
		</dict>
		<dict>
			<key>Durban</key>
			<string>128359</string>
		</dict>
		<dict>
			<key>Dayton</key>
			<string>128449</string>
		</dict>
		<dict>
			<key>Donets&apos;k</key>
			<string>128390</string>
		</dict>
		<dict>
			<key>Denver</key>
			<string>128414</string>
		</dict>
		<dict>
			<key>Düsseldorf</key>
			<string>128179</string>
		</dict>
		<dict>
			<key>Dakar</key>
			<string>128354</string>
		</dict>
		<dict>
			<key>Dominica</key>
			<string>108135</string>
		</dict>
		<dict>
			<key>Daegu (Taegu)</key>
			<string>128365</string>
		</dict>
		<dict>
			<key>Detroit</key>
			<string>128403</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>Edinburgh</key>
			<string>128463</string>
		</dict>
		<dict>
			<key>Eindhoven</key>
			<string>131450</string>
		</dict>
		<dict>
			<key>Er-Roseires</key>
			<string>131489</string>
		</dict>
		<dict>
			<key>Eritrea</key>
			<string>108142</string>
		</dict>
		<dict>
			<key>Exeter</key>
			<string>131523</string>
		</dict>
		<dict>
			<key>El Djazaïr</key>
			<string>128089</string>
		</dict>
		<dict>
			<key>Eugene</key>
			<string>131397</string>
		</dict>
		<dict>
			<key>Esfahān</key>
			<string>128248</string>
		</dict>
		<dict>
			<key>Edmonton</key>
			<string>128141</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>Fukuoka</key>
			<string>128264</string>
		</dict>
		<dict>
			<key>Fès</key>
			<string>128296</string>
		</dict>
		<dict>
			<key>Fiji</key>
			<string>108144</string>
		</dict>
		<dict>
			<key>Faisalabad (Lyallpur)</key>
			<string>128314</string>
		</dict>
		<dict>
			<key>Fortaleza</key>
			<string>128118</string>
		</dict>
		<dict>
			<key>Fredericton</key>
			<string>131504</string>
		</dict>
		<dict>
			<key>Freetown</key>
			<string>128356</string>
		</dict>
		<dict>
			<key>Freiburg</key>
			<string>131503</string>
		</dict>
		<dict>
			<key>Fargo</key>
			<string>128512</string>
		</dict>
		<dict>
			<key>Fresno</key>
			<string>128447</string>
		</dict>
		<dict>
			<key>Frankfurt (am Main)</key>
			<string>128176</string>
		</dict>
		<dict>
			<key>Firenze</key>
			<string>128499</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>Galway</key>
			<string>131472</string>
		</dict>
		<dict>
			<key>Gwangju (Kwangju)</key>
			<string>128367</string>
		</dict>
		<dict>
			<key>Gyumri</key>
			<string>131566</string>
		</dict>
		<dict>
			<key>Gdańsk</key>
			<string>131470</string>
		</dict>
		<dict>
			<key>Greensboro</key>
			<string>128443</string>
		</dict>
		<dict>
			<key>Granada</key>
			<string>131468</string>
		</dict>
		<dict>
			<key>Guyana</key>
			<string>108157</string>
		</dict>
		<dict>
			<key>Gaziantep</key>
			<string>128387</string>
		</dict>
		<dict>
			<key>Gainesville</key>
			<string>131511</string>
		</dict>
		<dict>
			<key>Greenville</key>
			<string>128445</string>
		</dict>
		<dict>
			<key>Guadalajara</key>
			<string>128285</string>
		</dict>
		<dict>
			<key>Goiânia</key>
			<string>128122</string>
		</dict>
		<dict>
			<key>Grand Rapids</key>
			<string>128439</string>
		</dict>
		<dict>
			<key>Genova</key>
			<string>131404</string>
		</dict>
		<dict>
			<key>Grenoble</key>
			<string>131425</string>
		</dict>
		<dict>
			<key>Grenada</key>
			<string>108153</string>
		</dict>
		<dict>
			<key>Gabon</key>
			<string>108147</string>
		</dict>
		<dict>
			<key>Gujrānwāla</key>
			<string>128316</string>
		</dict>
		<dict>
			<key>Gwalior</key>
			<string>128236</string>
		</dict>
		<dict>
			<key>Gävle</key>
			<string>128506</string>
		</dict>
		<dict>
			<key>Ghazzah</key>
			<string>128320</string>
		</dict>
		<dict>
			<key>Göteborg</key>
			<string>128483</string>
		</dict>
		<dict>
			<key>Guayaquil</key>
			<string>128159</string>
		</dict>
		<dict>
			<key>Guelph</key>
			<string>131480</string>
		</dict>
		<dict>
			<key>Goettingen</key>
			<string>131479</string>
		</dict>
		<dict>
			<key>Genève</key>
			<string>131476</string>
		</dict>
		<dict>
			<key>Glasgow</key>
			<string>128187</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>Halab</key>
			<string>128378</string>
		</dict>
		<dict>
			<key>Helsinki (Helsingfors)</key>
			<string>128165</string>
		</dict>
		<dict>
			<key>Hiroshima</key>
			<string>128265</string>
		</dict>
		<dict>
			<key>Hobart</key>
			<string>131540</string>
		</dict>
		<dict>
			<key>Hawaii</key>
			<string>128462</string>
		</dict>
		<dict>
			<key>Hamburg</key>
			<string>128174</string>
		</dict>
		<dict>
			<key>Hamamatsu</key>
			<string>128271</string>
		</dict>
		<dict>
			<key>Ha Noi</key>
			<string>128457</string>
		</dict>
		<dict>
			<key>Hai Phong</key>
			<string>128458</string>
		</dict>
		<dict>
			<key>Hyderābād</key>
			<string>128317</string>
		</dict>
		<dict>
			<key>Harare (Salisbury)</key>
			<string>128461</string>
		</dict>
		<dict>
			<key>Houston</key>
			<string>128406</string>
		</dict>
		<dict>
			<key>Himeji</key>
			<string>128269</string>
		</dict>
		<dict>
			<key>Hartford</key>
			<string>128440</string>
		</dict>
		<dict>
			<key>Hannover</key>
			<string>128181</string>
		</dict>
		<dict>
			<key>Halifax</key>
			<string>131491</string>
		</dict>
	</array>
	<key>I</key>
	<array>
		<dict>
			<key>Iowa City</key>
			<string>131448</string>
		</dict>
		<dict>
			<key>Iceland</key>
			<string>131449</string>
		</dict>
		<dict>
			<key>Ibadan</key>
			<string>128306</string>
		</dict>
		<dict>
			<key>Ithaca</key>
			<string>131477</string>
		</dict>
		<dict>
			<key>Indianapolis</key>
			<string>128423</string>
		</dict>
		<dict>
			<key>Indore</key>
			<string>128210</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>Jamaica</key>
			<string>108168</string>
		</dict>
		<dict>
			<key>Jaipur</key>
			<string>128206</string>
		</dict>
		<dict>
			<key>Johannesburg</key>
			<string>128358</string>
		</dict>
		<dict>
			<key>Jacksonville</key>
			<string>128438</string>
		</dict>
		<dict>
			<key>Jeddah</key>
			<string>128350</string>
		</dict>
		<dict>
			<key>Jakarta</key>
			<string>128238</string>
		</dict>
		<dict>
			<key>Jekaterinburg (Sverdlovsk)</key>
			<string>128338</string>
		</dict>
		<dict>
			<key>Jamshedpur</key>
			<string>128224</string>
		</dict>
		<dict>
			<key>Jodhpur</key>
			<string>128237</string>
		</dict>
		<dict>
			<key>Jabalpur</key>
			<string>128223</string>
		</dict>
		<dict>
			<key>Jackson</key>
			<string>131453</string>
		</dict>
		<dict>
			<key>Joinville</key>
			<string>128129</string>
		</dict>
		<dict>
			<key>Jyvaskyla</key>
			<string>131526</string>
		</dict>
		<dict>
			<key>Jönköping</key>
			<string>128509</string>
		</dict>
		<dict>
			<key>Johor Baharu</key>
			<string>128282</string>
		</dict>
		<dict>
			<key>Jeonju</key>
			<string>131438</string>
		</dict>
		<dict>
			<key>João Pessoa</key>
			<string>128130</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>Kolkata</key>
			<string>128198</string>
		</dict>
		<dict>
			<key>Kagoshima</key>
			<string>131465</string>
		</dict>
		<dict>
			<key>Kumamoto</key>
			<string>128272</string>
		</dict>
		<dict>
			<key>København</key>
			<string>128157</string>
		</dict>
		<dict>
			<key>Kusatsu</key>
			<string>128489</string>
		</dict>
		<dict>
			<key>Konstanz</key>
			<string>131557</string>
		</dict>
		<dict>
			<key>Karāchi</key>
			<string>128312</string>
		</dict>
		<dict>
			<key>Koh Chang</key>
			<string>131560</string>
		</dict>
		<dict>
			<key>Kitakyūshū</key>
			<string>128266</string>
		</dict>
		<dict>
			<key>Kiel</key>
			<string>131464</string>
		</dict>
		<dict>
			<key>Karlskrona</key>
			<string>128508</string>
		</dict>
		<dict>
			<key>Kānpur</key>
			<string>128205</string>
		</dict>
		<dict>
			<key>Kyoto</key>
			<string>128473</string>
		</dict>
		<dict>
			<key>Kharkiv</key>
			<string>128391</string>
		</dict>
		<dict>
			<key>Kyyiv</key>
			<string>128389</string>
		</dict>
		<dict>
			<key>Köln</key>
			<string>128177</string>
		</dict>
		<dict>
			<key>Kinshasa</key>
			<string>128149</string>
		</dict>
		<dict>
			<key>Kanagawa</key>
			<string>128486</string>
		</dict>
		<dict>
			<key>Karlsruhe</key>
			<string>131432</string>
		</dict>
		<dict>
			<key>Kampala</key>
			<string>128388</string>
		</dict>
		<dict>
			<key>Kaduna</key>
			<string>128307</string>
		</dict>
		<dict>
			<key>Kāthmāndau</key>
			<string>128299</string>
		</dict>
		<dict>
			<key>Khulna</key>
			<string>128105</string>
		</dict>
		<dict>
			<key>Kābol</key>
			<string>128088</string>
		</dict>
		<dict>
			<key>Krasnojarsk</key>
			<string>128348</string>
		</dict>
		<dict>
			<key>Knoxville</key>
			<string>131499</string>
		</dict>
		<dict>
			<key>Kansas City</key>
			<string>128420</string>
		</dict>
		<dict>
			<key>Kuala Lumpur</key>
			<string>128281</string>
		</dict>
		<dict>
			<key>Kanazawa</key>
			<string>131512</string>
		</dict>
		<dict>
			<key>Kano</key>
			<string>128305</string>
		</dict>
		<dict>
			<key>Kazan&apos;</key>
			<string>128344</string>
		</dict>
		<dict>
			<key>Krung Thep</key>
			<string>128380</string>
		</dict>
		<dict>
			<key>Khon Kaen</key>
			<string>131543</string>
		</dict>
		<dict>
			<key>Katowice</key>
			<string>128327</string>
		</dict>
		<dict>
			<key>Kochi (Cochin)</key>
			<string>128216</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>London (Canada)</key>
			<string>128470</string>
		</dict>
		<dict>
			<key>Leicester</key>
			<string>131447</string>
		</dict>
		<dict>
			<key>Lausanne</key>
			<string>128497</string>
		</dict>
		<dict>
			<key>Lahore</key>
			<string>128313</string>
		</dict>
		<dict>
			<key>Lancashire</key>
			<string>131494</string>
		</dict>
		<dict>
			<key>Lancaster</key>
			<string>131493</string>
		</dict>
		<dict>
			<key>Lisboa</key>
			<string>128330</string>
		</dict>
		<dict>
			<key>León</key>
			<string>128290</string>
		</dict>
		<dict>
			<key>Los Angeles</key>
			<string>128397</string>
		</dict>
		<dict>
			<key>Lubumbashi</key>
			<string>128150</string>
		</dict>
		<dict>
			<key>Lima</key>
			<string>128323</string>
		</dict>
		<dict>
			<key>Little Rock</key>
			<string>128490</string>
		</dict>
		<dict>
			<key>Lagos</key>
			<string>128304</string>
		</dict>
		<dict>
			<key>Lusaka</key>
			<string>128460</string>
		</dict>
		<dict>
			<key>Laramie</key>
			<string>131398</string>
		</dict>
		<dict>
			<key>La Paz</key>
			<string>128109</string>
		</dict>
		<dict>
			<key>Las Vegas</key>
			<string>128426</string>
		</dict>
		<dict>
			<key>Leipzig</key>
			<string>131408</string>
		</dict>
		<dict>
			<key>Leeds</key>
			<string>128186</string>
		</dict>
		<dict>
			<key>Luanda</key>
			<string>128091</string>
		</dict>
		<dict>
			<key>LINCOLN</key>
			<string>131405</string>
		</dict>
		<dict>
			<key>La Habana</key>
			<string>128155</string>
		</dict>
		<dict>
			<key>Ludhiāna</key>
			<string>128214</string>
		</dict>
		<dict>
			<key>Linköping</key>
			<string>131487</string>
		</dict>
		<dict>
			<key>Luxemburg City</key>
			<string>131459</string>
		</dict>
		<dict>
			<key>Ljubljana</key>
			<string>131528</string>
		</dict>
		<dict>
			<key>Lesotho</key>
			<string>108178</string>
		</dict>
		<dict>
			<key>Lille</key>
			<string>128169</string>
		</dict>
		<dict>
			<key>Lincoln</key>
			<string>131406</string>
		</dict>
		<dict>
			<key>Lubbock</key>
			<string>128498</string>
		</dict>
		<dict>
			<key>London</key>
			<string>128183</string>
		</dict>
		<dict>
			<key>Louisville</key>
			<string>128435</string>
		</dict>
		<dict>
			<key>Liverpool</key>
			<string>128188</string>
		</dict>
		<dict>
			<key>Lucknow</key>
			<string>128207</string>
		</dict>
		<dict>
			<key>Lund</key>
			<string>128504</string>
		</dict>
		<dict>
			<key>Lyon</key>
			<string>128168</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>Mumbai</key>
			<string>128196</string>
		</dict>
		<dict>
			<key>Medellín</key>
			<string>128144</string>
		</dict>
		<dict>
			<key>Medan</key>
			<string>128241</string>
		</dict>
		<dict>
			<key>Montréal</key>
			<string>128137</string>
		</dict>
		<dict>
			<key>Micronesia</key>
			<string>108190</string>
		</dict>
		<dict>
			<key>Milano</key>
			<string>128256</string>
		</dict>
		<dict>
			<key>Madurai</key>
			<string>128222</string>
		</dict>
		<dict>
			<key>Marseille</key>
			<string>128167</string>
		</dict>
		<dict>
			<key>Miami</key>
			<string>128405</string>
		</dict>
		<dict>
			<key>Maputo</key>
			<string>128297</string>
		</dict>
		<dict>
			<key>Minsk</key>
			<string>128106</string>
		</dict>
		<dict>
			<key>Mannheim</key>
			<string>128178</string>
		</dict>
		<dict>
			<key>Maracay</key>
			<string>128454</string>
		</dict>
		<dict>
			<key>Manaus</key>
			<string>128123</string>
		</dict>
		<dict>
			<key>Multān</key>
			<string>128318</string>
		</dict>
		<dict>
			<key>Mashhad</key>
			<string>128247</string>
		</dict>
		<dict>
			<key>Muqdisho</key>
			<string>128357</string>
		</dict>
		<dict>
			<key>Minneapolis</key>
			<string>128410</string>
		</dict>
		<dict>
			<key>Maastricht</key>
			<string>131513</string>
		</dict>
		<dict>
			<key>Maynooth</key>
			<string>131475</string>
		</dict>
		<dict>
			<key>Manila</key>
			<string>128324</string>
		</dict>
		<dict>
			<key>Monterrey</key>
			<string>128286</string>
		</dict>
		<dict>
			<key>Managua</key>
			<string>128303</string>
		</dict>
		<dict>
			<key>Maracaibo</key>
			<string>128452</string>
		</dict>
		<dict>
			<key>Melbourne</key>
			<string>128097</string>
		</dict>
		<dict>
			<key>Maldives</key>
			<string>108184</string>
		</dict>
		<dict>
			<key>Manchester</key>
			<string>128185</string>
		</dict>
		<dict>
			<key>Memphis</key>
			<string>128437</string>
		</dict>
		<dict>
			<key>Makkah</key>
			<string>128352</string>
		</dict>
		<dict>
			<key>Meerut</key>
			<string>128219</string>
		</dict>
		<dict>
			<key>Moskva</key>
			<string>128334</string>
		</dict>
		<dict>
			<key>Madrid</key>
			<string>128369</string>
		</dict>
		<dict>
			<key>Montevideo</key>
			<string>128395</string>
		</dict>
		<dict>
			<key>Milwaukee</key>
			<string>128425</string>
		</dict>
		<dict>
			<key>Maceió</key>
			<string>128128</string>
		</dict>
		<dict>
			<key>Mbuji-Mayi</key>
			<string>128151</string>
		</dict>
		<dict>
			<key>Madison</key>
			<string>131544</string>
		</dict>
		<dict>
			<key>Magdeburg</key>
			<string>131516</string>
		</dict>
		<dict>
			<key>München</key>
			<string>128175</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>Nantes</key>
			<string>131525</string>
		</dict>
		<dict>
			<key>Nairobi</key>
			<string>128276</string>
		</dict>
		<dict>
			<key>New York City</key>
			<string>128396</string>
		</dict>
		<dict>
			<key>Nāgpur</key>
			<string>128208</string>
		</dict>
		<dict>
			<key>Nice</key>
			<string>131546</string>
		</dict>
		<dict>
			<key>Napoli</key>
			<string>128258</string>
		</dict>
		<dict>
			<key>Newcastle</key>
			<string>128487</string>
		</dict>
		<dict>
			<key>Novosibirsk</key>
			<string>128337</string>
		</dict>
		<dict>
			<key>Naha</key>
			<string>128270</string>
		</dict>
		<dict>
			<key>Newzealand</key>
			<string>131427</string>
		</dict>
		<dict>
			<key>Namp&apos;o</key>
			<string>128311</string>
		</dict>
		<dict>
			<key>Newcastle upon Tyne</key>
			<string>128190</string>
		</dict>
		<dict>
			<key>Nürnberg</key>
			<string>128180</string>
		</dict>
		<dict>
			<key>Nashville/Davidson</key>
			<string>128433</string>
		</dict>
		<dict>
			<key>Nara</key>
			<string>131554</string>
		</dict>
		<dict>
			<key>New Haven</key>
			<string>131515</string>
		</dict>
		<dict>
			<key>Nāshik</key>
			<string>128218</string>
		</dict>
		<dict>
			<key>Nancy</key>
			<string>131422</string>
		</dict>
		<dict>
			<key>Newark</key>
			<string>131506</string>
		</dict>
		<dict>
			<key>Natal</key>
			<string>128127</string>
		</dict>
		<dict>
			<key>New Orleans</key>
			<string>128436</string>
		</dict>
		<dict>
			<key>Nottingham</key>
			<string>131430</string>
		</dict>
		<dict>
			<key>Nagoya</key>
			<string>128262</string>
		</dict>
		<dict>
			<key>Nuneaton</key>
			<string>131418</string>
		</dict>
		<dict>
			<key>Nižnij Novgorod (Gor&apos;kij)</key>
			<string>128336</string>
		</dict>
	</array>
	<key>O</key>
	<array>
		<dict>
			<key>Oslo</key>
			<string>128468</string>
		</dict>
		<dict>
			<key>Oxford</key>
			<string>131393</string>
		</dict>
		<dict>
			<key>Osnabrück</key>
			<string>131434</string>
		</dict>
		<dict>
			<key>Omsk</key>
			<string>128343</string>
		</dict>
		<dict>
			<key>Ouagadougou</key>
			<string>128132</string>
		</dict>
		<dict>
			<key>Okayama</key>
			<string>128268</string>
		</dict>
		<dict>
			<key>Oklahoma City</key>
			<string>128441</string>
		</dict>
		<dict>
			<key>Omaha</key>
			<string>131400</string>
		</dict>
		<dict>
			<key>Ottawa</key>
			<string>128139</string>
		</dict>
		<dict>
			<key>Orlando</key>
			<string>128421</string>
		</dict>
		<dict>
			<key>Odesa</key>
			<string>128393</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>Pune</key>
			<string>128203</string>
		</dict>
		<dict>
			<key>Pittsburgh</key>
			<string>128416</string>
		</dict>
		<dict>
			<key>Perm&apos;</key>
			<string>128347</string>
		</dict>
		<dict>
			<key>Padova</key>
			<string>131412</string>
		</dict>
		<dict>
			<key>Peshāwar</key>
			<string>128319</string>
		</dict>
		<dict>
			<key>Phoenix</key>
			<string>128408</string>
		</dict>
		<dict>
			<key>Podgorica</key>
			<string>128516</string>
		</dict>
		<dict>
			<key>Port Harcourt</key>
			<string>128309</string>
		</dict>
		<dict>
			<key>Puebla</key>
			<string>128287</string>
		</dict>
		<dict>
			<key>Porto Alegre</key>
			<string>128114</string>
		</dict>
		<dict>
			<key>Porto</key>
			<string>128331</string>
		</dict>
		<dict>
			<key>Palembang</key>
			<string>128242</string>
		</dict>
		<dict>
			<key>Pai</key>
			<string>131561</string>
		</dict>
		<dict>
			<key>Portland</key>
			<string>128418</string>
		</dict>
		<dict>
			<key>Papua New Guinea</key>
			<string>108209</string>
		</dict>
		<dict>
			<key>Pisa</key>
			<string>128492</string>
		</dict>
		<dict>
			<key>Praha</key>
			<string>128156</string>
		</dict>
		<dict>
			<key>Paderborn</key>
			<string>128472</string>
		</dict>
		<dict>
			<key>Port Elizabeth</key>
			<string>128362</string>
		</dict>
		<dict>
			<key>Perth</key>
			<string>128099</string>
		</dict>
		<dict>
			<key>Patna</key>
			<string>128209</string>
		</dict>
		<dict>
			<key>Port-au-Prince</key>
			<string>128194</string>
		</dict>
		<dict>
			<key>Phnum Pénh</key>
			<string>128133</string>
		</dict>
		<dict>
			<key>P&apos;yŏngyang</key>
			<string>128310</string>
		</dict>
		<dict>
			<key>Philadelphia</key>
			<string>128401</string>
		</dict>
		<dict>
			<key>Paris</key>
			<string>128166</string>
		</dict>
		<dict>
			<key>Penang</key>
			<string>131500</string>
		</dict>
		<dict>
			<key>Plymouth</key>
			<string>131545</string>
		</dict>
		<dict>
			<key>Pretoria</key>
			<string>128361</string>
		</dict>
		<dict>
			<key>Providence</key>
			<string>128428</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>Queenstown</key>
			<string>131541</string>
		</dict>
		<dict>
			<key>Quito</key>
			<string>128160</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>Regensburg</key>
			<string>131478</string>
		</dict>
		<dict>
			<key>Raleigh</key>
			<string>128434</string>
		</dict>
		<dict>
			<key>Ruhr</key>
			<string>128171</string>
		</dict>
		<dict>
			<key>Richmond</key>
			<string>128442</string>
		</dict>
		<dict>
			<key>Rānchi</key>
			<string>128234</string>
		</dict>
		<dict>
			<key>Roma</key>
			<string>128257</string>
		</dict>
		<dict>
			<key>Rostov-na-Donu</key>
			<string>128342</string>
		</dict>
		<dict>
			<key>Riga</key>
			<string>131496</string>
		</dict>
		<dict>
			<key>Rennes</key>
			<string>128518</string>
		</dict>
		<dict>
			<key>Rotterdam</key>
			<string>128301</string>
		</dict>
		<dict>
			<key>Rouen</key>
			<string>131542</string>
		</dict>
		<dict>
			<key>Rabat</key>
			<string>128295</string>
		</dict>
		<dict>
			<key>Rājkot</key>
			<string>128226</string>
		</dict>
		<dict>
			<key>Rosario</key>
			<string>128094</string>
		</dict>
		<dict>
			<key>Rio de Janeiro</key>
			<string>128112</string>
		</dict>
		<dict>
			<key>Rochester</key>
			<string>128446</string>
		</dict>
		<dict>
			<key>Recife</key>
			<string>128115</string>
		</dict>
		<dict>
			<key>Reykjavík</key>
			<string>131441</string>
		</dict>
		<dict>
			<key>Rāwalpindi</key>
			<string>128315</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>St.John&apos;s</key>
			<string>131471</string>
		</dict>
		<dict>
			<key>Samara (Kujbyšev)</key>
			<string>128339</string>
		</dict>
		<dict>
			<key>Savannah</key>
			<string>131567</string>
		</dict>
		<dict>
			<key>Southampton</key>
			<string>131452</string>
		</dict>
		<dict>
			<key>Sankt-Peterburg (Leningrad)</key>
			<string>128335</string>
		</dict>
		<dict>
			<key>San Francisco Bay Area</key>
			<string>128400</string>
		</dict>
		<dict>
			<key>Shizuoka</key>
			<string>128273</string>
		</dict>
		<dict>
			<key>Shīrāz</key>
			<string>128250</string>
		</dict>
		<dict>
			<key>Swansea</key>
			<string>131553</string>
		</dict>
		<dict>
			<key>Stockholm</key>
			<string>128375</string>
		</dict>
		<dict>
			<key>Santa Cruz</key>
			<string>128110</string>
		</dict>
		<dict>
			<key>Seoul (Sŏul)</key>
			<string>128363</string>
		</dict>
		<dict>
			<key>Sendai</key>
			<string>128267</string>
		</dict>
		<dict>
			<key>Sao Tome and Principe</key>
			<string>108225</string>
		</dict>
		<dict>
			<key>Salt Lake City</key>
			<string>128430</string>
		</dict>
		<dict>
			<key>San José</key>
			<string>128153</string>
		</dict>
		<dict>
			<key>San Diego</key>
			<string>128411</string>
		</dict>
		<dict>
			<key>Stuttgart</key>
			<string>128173</string>
		</dict>
		<dict>
			<key>San Luis Potosí</key>
			<string>128293</string>
		</dict>
		<dict>
			<key>San Salvador</key>
			<string>128163</string>
		</dict>
		<dict>
			<key>Sacramento</key>
			<string>128419</string>
		</dict>
		<dict>
			<key>Sūrat</key>
			<string>128204</string>
		</dict>
		<dict>
			<key>Solāpur (Sholāpur)</key>
			<string>128235</string>
		</dict>
		<dict>
			<key>Semarang</key>
			<string>128243</string>
		</dict>
		<dict>
			<key>Stratford-on-Avon</key>
			<string>131420</string>
		</dict>
		<dict>
			<key>San Juan</key>
			<string>128332</string>
		</dict>
		<dict>
			<key>Santiago</key>
			<string>128142</string>
		</dict>
		<dict>
			<key>Salvador</key>
			<string>128117</string>
		</dict>
		<dict>
			<key>Sevilla</key>
			<string>128372</string>
		</dict>
		<dict>
			<key>Shambajinagar (Aurangābād)</key>
			<string>128233</string>
		</dict>
		<dict>
			<key>Sapporo</key>
			<string>128263</string>
		</dict>
		<dict>
			<key>São Paulo</key>
			<string>128111</string>
		</dict>
		<dict>
			<key>Sydney</key>
			<string>128096</string>
		</dict>
		<dict>
			<key>Syracuse</key>
			<string>128474</string>
		</dict>
		<dict>
			<key>State College</key>
			<string>131534</string>
		</dict>
		<dict>
			<key>Sofija</key>
			<string>128131</string>
		</dict>
		<dict>
			<key>Santos</key>
			<string>128124</string>
		</dict>
		<dict>
			<key>Strasbourg</key>
			<string>131401</string>
		</dict>
		<dict>
			<key>Surabaya</key>
			<string>128240</string>
		</dict>
		<dict>
			<key>Siena</key>
			<string>131415</string>
		</dict>
		<dict>
			<key>Saratov</key>
			<string>128345</string>
		</dict>
		<dict>
			<key>Srīnagar</key>
			<string>128231</string>
		</dict>
		<dict>
			<key>Santa Fe</key>
			<string>131556</string>
		</dict>
		<dict>
			<key>St. Louis</key>
			<string>128413</string>
		</dict>
		<dict>
			<key>San&apos;ā&apos;</key>
			<string>128459</string>
		</dict>
		<dict>
			<key>San Antonio</key>
			<string>128422</string>
		</dict>
		<dict>
			<key>Santo Domingo (de Guzman)</key>
			<string>128158</string>
		</dict>
		<dict>
			<key>Sheffield</key>
			<string>128189</string>
		</dict>
		<dict>
			<key>Singapore</key>
			<string>108231</string>
		</dict>
		<dict>
			<key>São Luís</key>
			<string>128126</string>
		</dict>
		<dict>
			<key>Seattle</key>
			<string>128409</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>Tōkyō</key>
			<string>128260</string>
		</dict>
		<dict>
			<key>Tanjungkarang (Bandar Lampung)</key>
			<string>128245</string>
		</dict>
		<dict>
			<key>Torreón</key>
			<string>128292</string>
		</dict>
		<dict>
			<key>Tonga</key>
			<string>108248</string>
		</dict>
		<dict>
			<key>Toluca</key>
			<string>128291</string>
		</dict>
		<dict>
			<key>Togo</key>
			<string>108247</string>
		</dict>
		<dict>
			<key>Toulouse</key>
			<string>131456</string>
		</dict>
		<dict>
			<key>Trondheim</key>
			<string>128491</string>
		</dict>
		<dict>
			<key>Tuvalu</key>
			<string>108253</string>
		</dict>
		<dict>
			<key>Tūnis</key>
			<string>128381</string>
		</dict>
		<dict>
			<key>Toshkent (Taškent)</key>
			<string>128450</string>
		</dict>
		<dict>
			<key>Thanh Pho Ho Chi Minh</key>
			<string>128456</string>
		</dict>
		<dict>
			<key>Tbilisi</key>
			<string>128170</string>
		</dict>
		<dict>
			<key>Tampa</key>
			<string>128415</string>
		</dict>
		<dict>
			<key>Tarābulus</key>
			<string>128279</string>
		</dict>
		<dict>
			<key>Tallahassee</key>
			<string>131484</string>
		</dict>
		<dict>
			<key>Tehrān</key>
			<string>128246</string>
		</dict>
		<dict>
			<key>Tucson</key>
			<string>131539</string>
		</dict>
		<dict>
			<key>Toronto</key>
			<string>128136</string>
		</dict>
		<dict>
			<key>Tabrīz</key>
			<string>128249</string>
		</dict>
		<dict>
			<key>Tijuana</key>
			<string>128288</string>
		</dict>
		<dict>
			<key>Tampere</key>
			<string>131537</string>
		</dict>
		<dict>
			<key>Tübingen</key>
			<string>131426</string>
		</dict>
		<dict>
			<key>Tel Aviv-Yafo</key>
			<string>128255</string>
		</dict>
		<dict>
			<key>Torino</key>
			<string>128259</string>
		</dict>
		<dict>
			<key>Tsukuba</key>
			<string>131439</string>
		</dict>
	</array>
	<key>U</key>
	<array>
		<dict>
			<key>Ulan Bator</key>
			<string>131538</string>
		</dict>
		<dict>
			<key>Umeå</key>
			<string>128471</string>
		</dict>
		<dict>
			<key>Ufa</key>
			<string>128346</string>
		</dict>
		<dict>
			<key>Ujungpandang</key>
			<string>128244</string>
		</dict>
		<dict>
			<key>Uppsala</key>
			<string>128507</string>
		</dict>
		<dict>
			<key>Ulsan</key>
			<string>128368</string>
		</dict>
		<dict>
			<key>Utrecht</key>
			<string>131519</string>
		</dict>
	</array>
	<key>V</key>
	<array>
		<dict>
			<key>Vladivostok</key>
			<string>131555</string>
		</dict>
		<dict>
			<key>Växjö</key>
			<string>131443</string>
		</dict>
		<dict>
			<key>Vanuatu</key>
			<string>108261</string>
		</dict>
		<dict>
			<key>Vadodara (Baroda)</key>
			<string>128211</string>
		</dict>
		<dict>
			<key>València</key>
			<string>128371</string>
		</dict>
		<dict>
			<key>Vancouver</key>
			<string>128138</string>
		</dict>
		<dict>
			<key>Valencia</key>
			<string>128453</string>
		</dict>
		<dict>
			<key>Valletta</key>
			<string>131550</string>
		</dict>
		<dict>
			<key>Victoria</key>
			<string>131486</string>
		</dict>
		<dict>
			<key>Vitória</key>
			<string>128125</string>
		</dict>
		<dict>
			<key>Visākhpatnam (Vishākhpatnam)</key>
			<string>128217</string>
		</dict>
		<dict>
			<key>Vijayawāda</key>
			<string>128229</string>
		</dict>
		<dict>
			<key>Vārānasi</key>
			<string>128220</string>
		</dict>
		<dict>
			<key>Venice</key>
			<string>131463</string>
		</dict>
		<dict>
			<key>Volgograd</key>
			<string>128340</string>
		</dict>
		<dict>
			<key>Virginia Beach</key>
			<string>128427</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>Western Sahara</key>
			<string>108264</string>
		</dict>
		<dict>
			<key>Washington, D.C</key>
			<string>128399</string>
		</dict>
		<dict>
			<key>Waterloo</key>
			<string>128469</string>
		</dict>
		<dict>
			<key>West Lafayette</key>
			<string>131558</string>
		</dict>
		<dict>
			<key>Wellington</key>
			<string>131428</string>
		</dict>
		<dict>
			<key>Wien</key>
			<string>128101</string>
		</dict>
		<dict>
			<key>Weimar</key>
			<string>131442</string>
		</dict>
		<dict>
			<key>Wahran</key>
			<string>128090</string>
		</dict>
		<dict>
			<key>Witzenhausen</key>
			<string>131467</string>
		</dict>
		<dict>
			<key>Warszawa</key>
			<string>128328</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>Yokohama</key>
			<string>128485</string>
		</dict>
		<dict>
			<key>Yaoundé</key>
			<string>128135</string>
		</dict>
		<dict>
			<key>Yerevan</key>
			<string>128095</string>
		</dict>
		<dict>
			<key>Yangon</key>
			<string>128298</string>
		</dict>
		<dict>
			<key>York</key>
			<string>131429</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>Zürich</key>
			<string>128376</string>
		</dict>
		<dict>
			<key>Zaragoza</key>
			<string>131551</string>
		</dict>
	</array>
</dict>
</plist>
